
.articles__item
	img.articles__img(src="./img/dog1.jpg")
	h4.articles__title A Cute Puppy
	p.articles__content Помимо того, что хаски является красивой и добродушной породой собак, в ней также сосредоточены многочисленные особенности характера, связанные с предназначением животного. Если вас посетила идея приобрести щенка хаски, первым делом вы должны ознакомиться с основными характеристиками породы, чтобы понять подойдет ли вам этот питомец.

.articles__item
	img.articles__img(src="./img/dog1.jpg")
	h4.articles__title A Cute Puppy
	p.articles__content Помимо того, что хаски является красивой и добродушной породой собак, в ней также сосредоточены многочисленные особенности характера, связанные с предназначением животного. Если вас посетила идея приобрести щенка хаски, первым делом вы должны ознакомиться с основными характеристиками породы, чтобы понять подойдет ли вам этот питомец.

.articles__item
	img.articles__img(src="./img/dog1.jpg")
	h4.articles__title A Cute Puppy
	p.articles__content Помимо того, что хаски является красивой и добродушной породой собак, в ней также сосредоточены многочисленные особенности характера, связанные с предназначением животного. Если вас посетила идея приобрести щенка хаски, первым делом вы должны ознакомиться с основными характеристиками породы, чтобы понять подойдет ли вам этот питомец.
