footer.main-footer
  .wrapper
    .wrapper__inner
    
      .logo
        span.logo__title Copyright &copy; 2018 Мои забавные питомцы

      nav.page-nav
        ul.page-nav__items
          li.page-nav__item
            a.page-nav__link(href="#") О проекте
          li.page-nav__item
            a.page-nav__link(href="#") Сервисы
          li.page-nav__item
            a.page-nav__link(href="#") Контакты
      