
.wrapper
  .header__inner
    a.logo(href="#")
      img.logo__img(src="./img/svg/logo.svg" alt="logo")
      h1.logo__title Мои забавные питомцы

    nav.page-nav
      ul.page-nav__items
        li.page-nav__item
          a.page-nav__link(href="#") Мои питомцы
        li.page-nav__item
          a.page-nav__link(href="#") Галарея
        li.page-nav__item
          a.page-nav__link(href="#") Контакты
      
      .page-nav__toggle
          