.wrapper
  .wrapper__inner
    h4 Подпишись для того чтобы получать последние новости 
    form(action="")
      input(type="email" placeholder="Введите свой e-mail")
      button(type="submit" class="btn") Подписаться