aside.widget__inner
  h4 Lates News
  h5 Dec 31, 2018
  p Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные тексты. Использовало ipsum сбить города подпоясал букв семь свой запятой! Родного курсивных бросил приставка своих строчка даже использовало что вершину себя?
  h4 Мы в соцсетях:
  ul.sotial-links
    li.sotial-links__item
      a.sotial-links__link(href="#") 
        img(src="./img/svg/sotial/twitter-brands.svg", alt="VK")
    li.sotial-links__item
      a.sotial-links__link(href="#") 
        img(src="./img/svg/sotial/facebook-f-brands.svg", alt="Fb")
    li.sotial-links__item
      a.sotial-links__link(href="#") 
        img(src="./img/svg/sotial/youtube-brands.svg", alt="youTube")